---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---
<style>
		@import url("https://use.typekit.net/vkr0nvh.css");

		</style>
    <body>
<Navbar
  logoSrc="/artpagelogo.png"
  alt="My Website Logo"
 />

<style>
  * {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			.layout {
				display: flex;
				min-height: 100vh;
			}
        .right-content {
				flex: 1;
				align-items: center;
				justify-content: center;
				padding-right: 70px ;
			}
      .left-content {
				flex: 2;
				padding: 70px;
				padding-left:80px;
				padding-bottom: 0px;;
				display: flex;
				flex-direction: column;
				justify-content: center;
				/* padding-top: 10px; */
			}

      .spin {
  width: 200px; /* optional */
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

      @media (max-width: 768px) {
				.layout {
					flex-direction: column;
				}
				.left-content,
				.right-content {
					padding: 40px 20px;
				}
			}

      </style>

      <div class="layout">

			<div class="left-content font1">
				<slot name="left"> </slot>
			 </div>

       <div class="right-content font1">
				<slot name="right"></slot></div>
        </div>




















<img src="yellowsun.png" class="spin" alt="Rotating Image" width="200px" />


<Footer />
</body>
