---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---
<style>
		@import url("https://use.typekit.net/vkr0nvh.css");

		</style>
    <body>
<Navbar
  logoSrc="/artpagelogo.png"
  alt="My Website Logo"
 />

<style>
  * {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			.layout {
				display: flex;
				min-height: 100vh;
			}
        .right-content {
				flex: 1;
				align-items: center;
				justify-content: center;
				padding-right: 70px ;
			}
      .left-content {
				flex: 2;
				padding: 70px;
				padding-left:80px;
				padding-bottom: 0px;;
				display: flex;
				flex-direction: column;
				justify-content: center;
				/* padding-top: 10px; */
			}

      .box {
    width: 450px;
    aspect-ratio: 4/ 5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:100px;
    margin-top:40px;
    border-radius: 10%;
    background-image: ;
  }

   #blue2:hover{
    transform: rotate(10deg);
    transition: transform 0.9s ease;
  }
  #blue1:hover{
    transform: rotate(10deg);
    transition: transform 0.9s ease;
  }
  #blue3:hover{
    transform: rotate(10deg);
    transition: transform 0.9s ease;
  }

      .spin {
  width: 200px; /* optional */
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

      @media (max-width: 768px) {
				.layout {
					flex-direction: column;
				}
				.left-content,
				.right-content {
					padding: 40px 20px;
				}
			}

      </style>

      <div class="layout">

			<div class="left-content font1">
				<slot name="left">
          <div class="box">

          </div>
        </slot>
			 </div>

       <div class="right-content font1">
				<slot name="right">
          <div class="image-wrapper">

  <img id="blue2"src="painiting-button.png" alt="background image" width="340px">
  <a href="/artstuff" class="logo">
  <img id="blue1"src="inktober-button.png" alt="top-image" width="350px">
  </a>
  <a href="/work" class="logo">
  <img id="blue3"src="doodle-button.png" alt="background image" width="340px"></a>
</div>








        </slot></div>
        </div>




















<img src="yellowsun.png" class="spin" alt="Rotating Image" width="200px" />


<Footer />
</body>
