---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Digital journal space</title>
 <link rel="stylesheet" href="https://use.typekit.net/vkr0nvh.css">
</head>
<Navbar
  logoSrc="/images-optimized/artpagelogo.webp";
  alt="My Website Logo"
 />
 <style>

         .buttons{
				display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        box-sizing: border-box;
        padding:60px;
			}
      .logo{
        display:flex;
        justify-content: center;
        text-align: center;
        border-radius: 10px;

      }

              </style>

<div class="buttons font1">
 <a href="/inktober" class="logo">
       <h2 style="text-align:left">Inktober</h2>
       <!-- <img src="/images/inkboximg.png"width="135px" align-items:center;> -->
            </a>

            <a href="/wip" class="logo">
      <h2 style="text-align:left">Traditional art</h2>
            </a>

            <a href="/wip" class="logo">
      <h2 style="text-align:left">Things in clouds</h2>
            </a>

            <a href="/wip" class="logo">
      <h2 style="text-align:left"> Journals </h2>
            </a>
            <a href="/wip" class="logo">
      <h2 style="text-align:left"> Canavs paintings</h2>
            </a>



          </div>
<Footer />






