---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiman's Digital journal</title>
		<style>
	  <link rel="stylesheet" href="https://use.typekit.net/vkr0nvh.css">
		</style>
  </head>
<body>

    <Navbar
  logoSrc="/images/contactpagelogo.png"
  alt="My Website Logo" />

 <style>

#walkingimg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
  }
  
  #linkimg{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:40px;

  }
  </style>

<div id="linkimg" >
<a href="https://www.linkedin.com/in/aiman-sayeed-751895234" class="logo" target="_blank">
    <img src="/images/linkedinlogo.png" alt="Site Logo" class="logo-img" width="80px"; />
  </a>
  <a href="https://www.behance.net/aiman_sayeed" target="_blank" class="logo">
    <img src="/images/behancelogo.png" alt="Site Logo" class="logo-img" width="80px"; />
  </a>
  <a href="https://www.aimann.sayeed04@gmail.com" target="_blank" class="logo">
    <img src="/images/maillogo.png" alt="Site Logo" class="logo-img" width="80px"; />
  </a>
  <a href="https://open.spotify.com/user/sexmyxt9kgqqumu0cxs3rggcl?si=3379c8052b1e4f9c" target="_blank" class="logo">
    <img src="/images/spotifylogo.png" alt="Site Logo" class="logo-img" width="80px"; />
  </a>
  </div>
  <div id="walkingimg" class="font1" >
    <p>
    <span style="font-weight: bold; font-style: italic;">
    Got an idea, a project, or just want to say hi??</span>
     I'm all ears (and emails).<br> Whether it's brainstorming something brilliant or chatting about music ?

  </p>
  <br>
  <img src="/images/walkingimg.png" width="440px">
  </div>














 <Footer />
	</body>