---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiman's Digital journal</title>
		<style>
		@import url("https://use.typekit.net/vkr0nvh.css");
		</style>
  </head>

<body>
    <Navbar
  logoSrc="/contactpagelogo.png"
  alt="My Website Logo"
 />
 
 <style>
#walkingimg{
    display: flex;
    justify-content: center;

  }
  </style>


<div id="walkingimg" >
  <img src="walkingimg.png" width="440px">
  <h2>

  </h2>
  </div>













 <Footer />
	</body>