---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
import Button from '../components/aboutbutton.astro'


---
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Foreground with Grid Overlay</title>
<style>
    @import url("https://use.typekit.net/vkr0nvh.css");
		 <link rel="stylesheet" href="https://use.typekit.net/vkr0nvh.css">


    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }


    body {
      position: relative;
        background-image: url('background.jpg'); /* Background image */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;}


    .foreground-container {
        width: 90vw;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

    }

    .foreground-container img {
        width: 100%;
        height: auto;
        display: block;
        padding:50px;
        position: absolute;
    }

    .overlay-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 40px;
        box-sizing: border-box;
        z-index: 1000;
        margin: 40px 200px;

    }

      {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: flex-end; */
        text-align: center;
        background: rgba(0, 0, 0, 0.3);
        padding: 10px;
        height: 400px; }

    .left-content {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        align-items: flex-end;
        background: rgba(0, 0, 0, 0.3);
        padding: 30px;
        border-radius: 10px;
        text-align: center;
        height: 500px;
    }
    .text {
    flex: 1;}



    .left-content img {
        /* max-width: 100%; */
        margin-top: 20px;
    }


    .right-content {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.3);
        padding: 30px;
        border-radius: 10px;
        text-align: center;
    }
</style>
</head>
<body>
   <div class="overlay-grid">


            <div class="left-content">
              <div class="text">
        <h1>This is the heading</h1>
        <p>This is some description text next to the image.</p>
             </div>
                <img src="cartoonimg01.png" alt="Small" height="370px">

            </div>

            <!-- Right side: text/image -->
            <div class="right-content">
                <h2>Right Side Content</h2>
                <p>You can place any text, image, or elements here.</p>
            </div>        </div>






    <div class="foreground-container">
        <img src="foregroundimg.png" alt="Foreground">
    </div>

</body>
</html>





