---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
import Button from '../components/aboutbutton.astro'


---
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Foreground with Grid Overlay</title>
<style>
    @import url("https://use.typekit.net/vkr0nvh.css");
		 <link rel="stylesheet" href="https://use.typekit.net/vkr0nvh.css">


    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
    }


    body {
      position: relative;
        background-image: url('background02.jpg');
        /* background-position: center; */
        background-attachment: fixed;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;

        }


    .foreground-container {
        width: 90vw;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

    }

    .foreground-container img {
        width: 120%;
        height: auto;
        display: block;
        padding:60px;
        position: absolute;

    }

    .overlay-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        padding: 20px;
        box-sizing: border-box;
        z-index: 1000;
        margin: 40px 200px;

    }

      {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background: rgba(0, 0, 0, 0.3);
        padding: 10px;
        height: 500px; }

    .left-content {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: flex-start;
        /* background: rgba(0, 0, 0, 0.3); */
        /* padding: 30px; */
        border-radius: 10px;
        text-align: left;
        height: 500px;
    }
    .text {
    flex: 1;
    color:black;
    padding-left:60px;
    height: 300px;}


    .left-content img {
        max-width: 100%;
        height:550px;
        display: flex;
        justify-content:right;
        margin-top:0px;
        margin-right:-50px;
        margin-top: -40px;

    }

    .right-content {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.3);
        padding: 30px;
        border-radius: 10px;
        text-align: center; }

        
    .side-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 140%;
    background: url('borderleft.png');
    background-size: cover;
    z-index: 10;
}


</style>
</head>
<body>

    <div class="side-image">

    </div>

<div class="borderimg">
</div>

   <div class="overlay-grid">
            <div class="left-content">

              <div class="text">
                <p style="font-family:canvas-inline; font-size:90px; font-weight: 100;">Hiiii</p>
                <p class="font1">Welcome to my little corner of the internet!<br>
                    <span style="font-weight: bold;">
      Aiman this side!</span>What you'll find here is- fun art stuff, some design projects, learning aspect of how i've developed with art and exploring different medium!
       <br><br><span style="font-weight: bold; font-style: italic;">
        And some music suggestions,(more like what all music ive explored so far!)
       </p>
             </div>
                <img src="cartoonimg01.png" alt="Small" height="270px">

            </div>







            <!-- Right side: text/image -->
            <div class="right-content">
                <h2>Right Side Content</h2>
                <p>You can place any text, image, or elements here.</p>
            </div>        </div>






    <div class="foreground-container">
        <img src="foregroundimg.png" alt="Foreground">
    </div>

</body>
</html>





