---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---
<style>
		@import url("https://use.typekit.net/vkr0nvh.css");
		</style>
<Navbar
  logoSrc="/hiremelogo.png"
  alt="My Website Logo"
 />

<style>

* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
      .layout {
				display: flex;
				min-height: 50vh;
			}

      .left-content {
		flex: 1;
		padding:100px;
		display: flex;
		flex-direction: column;
    align-items: center;}

    .right-content {
				flex: 1;
				align-items: center;

			}
        #boxx {
  transition: transform 0.3s ease;}

   #boxx:hover {
  transform: scale(1.1);
}


</style>

<div class="layout">
<div class="left-content font1">
				<slot name="left">

        <p class="font1">If you enjoyed my work and think I could be a great fit for your team,<br><span style="font-weight: bold; font-style: italic;"> Let's connect!<br></span>
           View my professional resume here and get in touch.</p>
           <br>
           <a href="public/resumeforweb.pdf" target="_blank"><h3>Link to Proffesional Resume</h3></a>
        </slot>
        </div>

        <div class="right-content font1">
				<slot name="right">

          <img id="boxx" src="about-02.png" width="350px">

        </slot>
        </div>
      </div>

      <Footer />