
---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import'../components/footer.astro'

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiman's digital journal</title>
		<style>
		@import url("https://use.typekit.net/vkr0nvh.css");



		</style>

  </head>

    <Navbar />

<body>

    <style>
  .grid {
    display: grid;

    place-items:left;
    margin: 0px 60px;
  }
  .box {
    width: 550px;
    aspect-ratio: 6/ 4;
    background: #ffffed;
    transform: rotate(10deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
  }

  .text {
    transform: rotate(-10deg);
    font-family: sans-serif;
    font-size: 1rem;
    margin-left: 40px;
  }
</style>

    <div class="grid">
  <div class="box">
   <div class="text">
    <p class="font1">Hiii!!Welcome to my little corner of the internet!

       I’m someone who gets way too excited about color palettes, quirky typefaces, and ideas that spark emotion. Whether it's through digital illustrations, hand-drawn art, or storytelling-infused design, I love crafting visuals that don’t just look good—but feel something too.
       

Right now, I’m in full-on sponge mode: learning, unlearning, trying new things, and building a practice that blends imagination with thoughtful strategy. I believe in the power of design to connect, question, and delight—and I’m always up for new collabs, feedback, or just geeking out over good design.
<p class="font1">
Let’s make something meaningful (and maybe a little magical) together ✨</div>
        </p>
</div>
<div class="cartoon">
<img src="cartoon01.png" width="500px">
</div>
</div>






<footer />
  </body>
</html>




