
---
import Navbar from '../components/Navbar.astro'
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Site</title>
  </head>
  <body>
    <Navbar />

    <main style="padding: 2rem;">
      <h1>Welcome to My Site</h1>
      <p>hi</p>

    </main>
  </body>
</html>




