
---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
import Button from '../components/aboutbutton.astro'


---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiman's Digital journal</title>
    <style>
    @import url("https://use.typekit.net/vkr0nvh.css");</style>
		 <link rel="stylesheet" href="https://use.typekit.net/vkr0nvh.css">
  </head>

  <body>
    <!-- <Navbar
  logoSrc="/logo01.png"
  alt="My Website Logo"
 /> -->

    <style>

  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 1fr 1.5fr; */
    padding: 40px;
    padding-bottom: 0%;
  }
  /* .box {
    width: 550px;
    aspect-ratio: 7/ 4;
    background: #ffffed;
    transform: rotate(-10deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:100px;
    margin-top:40px;
  } */
  .text {
    /* transform: rotate(10deg); */
    font-size: 16px;
    /* margin : 60px; */
    /* padding: 70px; */
  }

  .cartoon{
    transform: rotate(10deg);
    display: flex;
    justify-content:center;

  }
  #walkingimg{
    padding-left: 30px;

  }

  #blue2:hover{
    transform: rotate(10deg);
    transition: transform 0.9s ease;
  }
  #blue1:hover{
    transform: rotate(10deg);
    transition: transform 0.9s ease;
  }
  #blue3:hover{
    transform: rotate(10deg);
    transition: transform 0.9s ease;
  }
  .image-wrapper {
  position: relative;
  width: 800px;
  height: 300px;

}
 #blue1{
    object-fit: contain;
    position: absolute;
    left: 480px;
    bottom:10px;
  }
  #blue2{
    /* object-fit: cover; */
    position: absolute;
    object-fit: contain;
    left: 150px;
    bottom:10px;

  }
  #blue3{
    object-fit: contain;
    position: absolute;
    left: 780px;
    bottom: 10px;



  }

</style>
    <div class="grid">
  <div class="box">

   <div class="text">
    <p style="font-family:canvas-inline; font-size:80px; font-weight: 100;">Hiiii</p>

    <p class="font1">Welcome to my little corner of the internet!
      Aiman this side!What you'll find here is- fun art stuff, some design projects, learning aspect of how i've developed with art and exploring different medium!
       <br><span style="font-weight: bold; font-style: italic;">
        And some music suggestions,(more like what all music ive explored so far!)

</p></div> </div>
<div class="cartoon">
<img src="cartoonimg01.png" width="350px">
</div>

</div>

<div id="walkingimg" >
  <img src="walkingimg.png" width="540px">

<Button />
</div>

<div class="image-wrapper">
<a href="/wip" class="logo">
  <img id="blue1"src="musicbutton.png" alt="background image" width="340px"></a>

  <a href="/inktober" class="logo">
  <img id="blue2"src="/artstuff/inktober-button.png" alt="top-image" width="350px">
  </a>

  <a href="/work" class="logo">
  <img id="blue3"src="projectbutton.png" alt="background image" width="340px"></a>

</div>
</div>


<Footer />
  </body>
</html>




