
---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
import Button from '../components/aboutbutton.astro'


---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiman's Digital journal</title>
    <style>
    @import url("https://use.typekit.net/vkr0nvh.css");
    </style>
		 <!-- <link rel="stylesheet" href="https://use.typekit.net/vkr0nvh.css"> -->
  </head>

  <body>
    <Navbar
  logoSrc="/logo01.png"
  alt="My Website Logo"
 />

    <style>

  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    padding: 40px;
  }
  .box {
    width: 550px;
    aspect-ratio: 7/ 4;
    background: #ffffed;
    transform: rotate(-10deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:100px;
    margin-top:40px;
  }
  .text {
    transform: rotate(10deg);
    font-size: 1rem;
    margin : 60px 30px;
  }
  .cartoon{
    transform: rotate(10deg);
    display: flex;
    justify-content:center;

  }
  #walkingimg{
    padding-left: 30px;
    margin-top: -140px;

  }

  #blue2:hover{
    transform: rotate(10deg);
    transition: transform 0.9s ease;
  }
  #blue1:hover{
    transform: rotate(10deg);
    transition: transform 0.9s ease;
  }
  #blue3:hover{
    transform: rotate(10deg);
    transition: transform 0.9s ease;
  }
  .image-wrapper {
  position: relative;
  width: 100px;
  height: 400px;
}
 #blue1{
    object-fit: contain;
    position: absolute;
    top: 220px;
    left: 40px;



  }
  #blue2{
    object-fit: cover;
    left: 65px;

  }
  #blue3{
    object-fit: contain;
    position: absolute;
    top: 450px;
    left: 50px;

  }

</style>

    <div class="grid">
  <div class="box">
   <div class="text">
    <p class="font1">Welcome to my little corner of the internet!
      I'm in full-on sponge mode: learning, unlearning, trying new things, and building a practice that blends imagination with thoughtful strategy.<br>
      <span style="font-weight: bold; font-style: italic;">
Let's make something meaningful (and maybe a little magical) together✨</span></p></div>.
</div>
<div class="cartoon">
<img src="cartoonimg01.png" width="260px">
</div>
<div id="walkingimg" >
  <img src="walkingimg.png" width="440px">
<Button />
</div>
<div class="image-wrapper">

  <img id="blue1"src="musicbutton.png" alt="background image" width="340px">
  <a href="/artstuff" class="logo">
  <img id="blue2"src="funartbutton.png" alt="top-image" width="350px">
  </a>
  <a href="/work" class="logo">
  <img id="blue3"src="projectbutton.png" alt="background image" width="340px"></a>

</div>



<Footer />
</div>
  </body>
</html>




