
---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'



---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiman's digital journal</title>
		<style>
		@import url("https://use.typekit.net/vkr0nvh.css");


		</style>

  </head>
  <body>
    <Navbar />

    <main style="padding: 2rem;">
      <h1>Welcome to My Site</h1>
      <p>hi</p>
			<p class="font1">This is using Font 1</p>
  <p class="font2">This is using Font 2</p>


    </main>
  </body>
</html>




