---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiman's Digital journal</title>
		<style>
		@import url("https://use.typekit.net/vkr0nvh.css");
		</style>
  </head>
	<body>
    <Navbar
  logoSrc="/images/logoaboutpage.png"
  alt="My Website Logo"
 />

		<style>
			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			.layout {
				display: flex;
				min-height: 100vh;
			}

			.left-content {
				flex: 2;
				padding: 70px;
				padding-left:80px;
				padding-bottom: 0px;;
				display: flex;
				flex-direction: column;
				justify-content: center;
				/* padding-top: 10px; */
			}

			.right-content {
				flex: 1;
				/* display: flex; */
				align-items: center;
				justify-content: center;
				padding-right: 70px ;

			}

			.text-container{
				 display: flex;
				 justify-content: center;
				 gap: 40px;

			}
			.imglayout{
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 40px;
			}
			#blue3{
				transform: rotate(20deg);

			}
			#blue3:hover{
     transform: rotate(10deg);
     transition: transform 0.9s ease;
      }
			#gifplacement{
				display: flex;
				 justify-content: center;

			}


			/* .imgagealign{
				display:flex;
       align-items: center;
			 justify-content: center;

			} */

			@media (max-width: 768px) {
				.layout {
					flex-direction: column;
				}
				.left-content,
				.right-content {
					padding: 40px 20px;
				}
			}


		</style>


		<div class="layout">

			<div class="left-content font1">
				<slot name="left">
					<h2>Hii there! <br>
						I’m Aiman - a curious mind with a sketchbook heart.</h2><br>
					<p>A M.Des Communication Design student, currently riding the colorful wave of learning, experimenting, and turning wild ideas into thoughtful visuals. Whether it's digital illustration, traditional art, or weaving stories through design, I believe creativity should not just look good-it should feel something too.</p>
						<span style="font-weight: bold; font-style: italic;text-align: center;">
						My style?</span> A mix of imagination, intention, and a splash of chaos (the good kind). I'm drawn to design that speaks-emotionally, visually, and sometimes, even literally.

I'm always up for new challenges, meaningful collaborations, and passionate feedback sessions over chai <span style="font-style: italic;">(or coffee if that's your thing ☕)
	</span>
</p>
<div class="para 2">
	<br>
	<h2>
		Education
	</h2>
	<br>
	<p>
		Delhi Public School<br>
(2011-2019)<br></p>
<p>
FDDI(Footwear design and development institute) Hyderabad<br>
B.DES(footwear design)<br>
(2019-2023)
</p>
<p>
DAIICT(Dhirubhai Ambani Institute of Information and Communication Technology)<br>
M.DES(communication design)<br>
(2024-2026)
	</p>
	<br>
	<h2>
		Experience
	</h2>
	<br>
	<p>
		From bold posters to quirky characters, my freelance design journey (2023–2024) was all about turning big ideas into eye-catching visuals—posters, prints, animatics, logos, you name it! Before that, I sketched kicks and played with materials as a Graphic Footwear Intern at Apollo (2022), bringing fresh designs from paper to prototype. And way back in 2021, I jazzed up RSVI’s social media with snappy posts and banners that packed a punch for their cause.

	</p>
</div>
				</slot>

			</div>
			<div class="right-content font1">
				<slot name="right">

					<img src="/images/profilepic.png" width="500px">
					<div class="text-container">

					<div id="a-part">
						<h2>Good at</h2>
						<br>
						<p>Research<br>Design thinking<br>Visualisation<br>Storyboarding
							</div>

							<div id="b-part">
						<h2>Keen on</h2>
						<br>
						<p>Exploaring<br>Adapting<br>Learning<br>Developing</p>
							</div>
						 </div>
						 <div class="imglayout">
							<img id="appsimg" src="/images/appsimg.png" width="200px">
							<br>
							<a href="/work" class="logo">
             <img id="blue3"src="/images/projectbutton.png" alt="background image" width="270px"> </a>
						 </div>
						</slot>
			</div>
		</div>
		<div id="gifplacement">
		<img src="/images/infopagegif.gif" height="200px">
		<img src="/images/infopagegif.gif" height="200px">
		</div>
		<Footer />
	</body>
</html>