---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'


const { title } = Astro.props;

---
<style>


    .inkbox{
        display: flex;
        justify-content: center;
      }
      .text{
        font-size: 1rem;
        /* margin : 60px 30px; */
        padding-right:250px;
        padding-left:150px;

      }
      .image-days{
        column-count: 3;
       /* column-gap: 10px; */
       padding:20px;
}
.masonry-item {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 8px;
  display: block;
  transition: transform 0.4s ease;
}
.masonry-item:hover {
  transform: scale(1.6);
}

#linkimg{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  }


@media (max-width: 768px) {
  .image-days{
      column-count: 2;
       column-gap: 15px;
       padding:28px;
}
}
		</style>

<Navbar
  logoSrc="/inktoberlogo.png"
  alt="My Website Logo"
 />


 <div class="inkbox">
		<img src="/public/inktoberbase.png" height="90px";> </div>
    <div class="info">
    <div class="text font1">
      <p>
        <h2>Inktober 2023</h2>
        <br>
For Inktober 2023, text etxt
      </p>
    </div>
    <div class="image-days">
      <img src="/images/2023/1.png" class="masonry-item";>
      <img src="/images/2023/2.png" class="masonry-item";>
      <img src="/images/2023/3.png" class="masonry-item";>
      <img src="/images/2023/4.png" class="masonry-item";>
      <img src="/images/2023/5.png" class="masonry-item";>
      <img src="/images/2023/6.png" class="masonry-item";>
      <img src="/images/2023/7.png" class="masonry-item";>
      <img src="/images/2023/8.png" class="masonry-item";>
      <img src="/images/2023/Frame_16.png" class="masonry-item";>
      <img src="/images/2023/9.png" class="masonry-item";>
      <img src="/images/2023/10.png" class="masonry-item";>
      <img src="/images/2023/11.png" class="masonry-item";>
      <img src="/images/2023/12.png" class="masonry-item";>
      <img src="/images/2023/13.png" class="masonry-item";>
      <img src="/images/2023/15.png" class="masonry-item";>
      <img src="/images/2023/16.png" class="masonry-item";>
      <img src="/images/2023/17.png" class="masonry-item";>



    </div>
    <div id="linkimg" >

<a href="https://www.behance.net/gallery/196168643/Inktober-2023-illustrations" target="_blank" class="logo">
    <img src="behancelogo.png" alt="Site Logo" class="logo-img" width="60px"; /></a></div>














     <Footer />