---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'


const { title } = Astro.props;

---
<style>
		@import url("https://use.typekit.net/vkr0nvh.css");

    .inkbox{
        display: flex;
        justify-content: center;
      }






		</style>

<Navbar
  logoSrc="/inktoberlogo.png"
  alt="My Website Logo"
 />

 
 <div class="inkbox">
				<img src="/public/inktoberbase.png" height="90px";> </div>




 <Footer />