---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'


const { title } = Astro.props;

---
<style>
		@import url("https://use.typekit.net/vkr0nvh.css");

    .inkbox{
        display: flex;
        justify-content: center;
      }
      .text{
        font-size: 1rem;
        /* margin : 60px 30px; */
        padding-right:250px;
        padding-left:150px;

      }
      .image-days{
        column-count: 3;
       column-gap: 15px;
       padding:28px;
}
.masonry-item {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 8px;
  display: block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#linkimg{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


  }


@media (max-width: 768px) {
  .image-days{
      column-count: 2;
       column-gap: 15px;
       padding:28px;
}
}
		</style>

<Navbar
  logoSrc="/inktoberlogo.png"
  alt="My Website Logo"
 />


 <div class="inkbox">
		<img src="/public/inktoberbase.png" height="90px";> </div>
    <div class="info">
    <div class="text font1">
      <p>
        <h2>Inktober 2024</h2>
        <br>
For Inktober 2024, I explored illustrations inspired by nature and brought my original character into these quiet, imagined spaces. This year was special-I experimented with grayscale for the first time, using ink and diluted washes to play with tone and texture. It was a fun, freeing process that added a whole new depth to my drawings. Each piece felt like a little story unfolding in shades of black and grey.
also used a square sketchbook this year! so will have a lot of square and long landscape looking illustrartions!
      </p>
    </div>
    <div class="image-days">
      <img src="inktober24/Frame 1.png" class="masonry-item";>
      <img src="inktober24/Frame 2.png" class="masonry-item";>
      <img src="inktober24/Frame 4.png" class="masonry-item";>
      <img src="inktober24/Frame 5.png" class="masonry-item";>
      <img src="inktober24/Frame 6.png" class="masonry-item";>
      <img src="inktober24/Frame 7.png" class="masonry-item";>
      <img src="inktober24/Frame 8.png" class="masonry-item";>
      <img src="inktober24/Frame 9.png" class="masonry-item";>
      <img src="inktober24/Frame 10.png" class="masonry-item";>
      <img src="inktober24/Frame 11.png" class="masonry-item";>
      <img src="inktober24/Frame 12.png" class="masonry-item";>
      <img src="inktober24/Frame 13(1).png" class="masonry-item";>
      <img src="inktober24/Frame 14.png" class="masonry-item";>
      <img src="inktober24/cover01.png" class="masonry-item";>
      <img src="inktober24/Frame 15.png" class="masonry-item";>
      <img src="inktober24/Frame16.png" class="masonry-item";>
      <img src="inktober24/Frame 17.png" class="masonry-item";>
      <img src="inktober24/Frame18.png" class="masonry-item";>
      <img src="inktober24/Frame 19.png" class="masonry-item";>
      <img src="inktober24/cover03.png" class="masonry-item";>
      <img src="inktober24/Frame 20.png" class="masonry-item";>
      <img src="inktober24/Frame 21.png" class="masonry-item";>
      <img src="inktober24/Frame 22.png" class="masonry-item";>
      <img src="inktober24/Frame 23.png" class="masonry-item";>
      <img src="inktober24/Frame 24.png" class="masonry-item";>
      <img src="inktober24/Frame 25.png" class="masonry-item";>
      <img src="inktober24/Frame 26.png" class="masonry-item";>
      <img src="inktober24/Frame 28.png" class="masonry-item";>
      <img src="inktober24/Frame 29.png" class="masonry-item";>
      <img src="inktober24/Frame 30.png" class="masonry-item";>
      <img src="inktober24/Frame 31.png" class="masonry-item";>
      <img src="inktober24/Frame 32.png" class="masonry-item";>
      <img src="inktober24/Frame 33.png" class="masonry-item";>
      <img src="inktober24/Frame 34.png" class="masonry-item";>
      <img src="inktober24/Frame 35.png" class="masonry-item";>
      <img src="inktober24/Frame 36.png" class="masonry-item";>
      <img src="inktober24/Frame 37.png" class="masonry-item";>
      <img src="inktober24/Frame 38.png" class="masonry-item";>

    </div>
</div>
<div id="linkimg" >
<a href="https://www.behance.net/gallery/212087741/INKTOBER-2024-%28Part1%29" target="_blank" class="logo">
    <img src="behancelogo.png" alt="Site Logo" class="logo-img" width="60px"; /></a></div>






 <Footer />