---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
import Journal from '../components/journal.astro';

const { title } = Astro.props;

---
<style>
		@import url("https://use.typekit.net/vkr0nvh.css");
		</style>
<Navbar
  logoSrc="/inktoberlogo.png"
  alt="My Website Logo"
 />
 <style>

* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

      .inkbox{
        display: flex;
        justify-content: center;
      }

   .layout {
				display: flex;
				min-height: 50vh;
			}

  .left-content {
		flex: 2;
		padding-bottom:0px;
    padding-top: 40px;
		padding-left:140px;
		padding-right:20px;
		display: flex;
		flex-direction: column; }

      .right-content {
				flex: 1;
				align-items: center;
				padding-bottom:0px;
        padding-top: 60px;
				padding-left:50px;
				padding-right:140px;

			}
			.yearjournal{
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 40px ;

			}
			.yearjournal2{
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 40px ;
				padding-top:0%;

			}

      .text-container{
		display: grid;
		grid-template-rows: repeat(1fr, 1fr);}

      @media (max-width: 768px) {
				.layout {
					flex-direction: column;
				}

				.left-content,
				.right-content {
					padding: 40px 20px;
				}
			}

</style>

<div class="inkbox">
<img src="inktoberhead.png" height="90px" >
</div>

<div class="layout">
<div class="left-content font1">
				<slot name="left">

        <h2>What's Inktober?</h2>
        <br>
					<p>Inktober is a month-long drawing challenge held every October, where artists create one ink-based drawing each day. It was started by Jake Parker in 2009 to build better drawing habits, and it's now become a global creative tradition!<br><br>
The rules are simple:<br>
 draw something in ink (you can follow a prompt list or go with your own ideas), and share it.<br><br>
It's all about consistency, experimentation, and letting your imagination run wild — whether you're sketching spooky creatures, dreamy landscapes, or quirky characters.<br>
Over the years, Inktober has become a personal ritual for me. I love looking back at how my style has evolved, and how each October brought its own themes and moods.<br>
<span style="font-weight: bold; font-style: italic;text-align: center;">
In this collection, I've shared artworks from different years - a little timeline of my inky journey, full of scribbles, surprises, and lots of late-night drawing energy.</span>
</p>
        </slot>
        </div>

        <div class="right-content font1">

				<slot name="right">
          <img src="inkcover.png" width="350px">

        </slot>
				</div>
				</div>



				<div class="yearjournal font1">

					<Journal src="/public/journalimg.png"alt="2025" text="Soon to arrive 2025"/>
					<a href="/ink2024" class="logo">
					<Journal src="/public/journalimg.png"alt="2024" text="2024"/> </a>
					<a href="/" class="logo">
					<Journal src="/public/journalimg.png"alt="2023" text="2023"/></a>
					</div>

					<div class="yearjournal2 font1">
						<a href="/" class="logo">
					<Journal src="/public/journalimg.png"alt="2022" text="2022"/></a>
					<a href="/" class="logo">
					<Journal src="/public/journalimg.png"alt="2021" text="2021"/></a>
				</div>
				<div class="inkbox">
				<img src="/public/inktoberbase.png" height="90px";> </div>

<Footer />