---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiman's Digital journal</title>
		<style>
		@import url("https://use.typekit.net/vkr0nvh.css");
		</style>
  </head>
	<body>
    <Navbar
  logoSrc="/images/photospagelogo.png"
  alt="My Website Logo"
 />

<div class="inkbox">
		<img src="/images/photoclick.png" height="300px";> </div>
    <div class="info">
    <div class="text font1">
      <p>
        <h2>Clicks(mostly sunsets and sunrise)</h2>
        <br>
Put together a little showcase of photos from differnt trips and stays in cities -
you'll find - <ul>
  <li>Delhi</li>
  <li>Hyderabad</li>
  <li>Ladakh</li>
  <li>Andaman and nicobar</li>
  <li></li>


</ul>
      </p>
    </div>









<style>

.inkbox{
        display: flex;
        justify-content: center;
      }
      .text{
        font-size: 16px;
        padding-left:150px;
      }



      </style>
<Footer />
