---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiman's Digital journal</title>
<link rel="stylesheet" href="https://use.typekit.net/vkr0nvh.css">
</head>

	<body>
    <Navbar
  logoSrc="/images/photospagelogo.png"
  alt="My Website Logo"
 />

<div class="inkbox">
		<img src="/images/photoclick.png" height="300px";> </div>
    <div class="info">
    <div class="text font1">
        <h2>Clicks(mostly sunsets and sunrise)</h2>
        <br>
        <p>
Put together a little showcase of photos from differnt trips and stays in cities -
you'll find -<br> Delhi-Hyderabad-Ladakh-Andaman & nicobar-Himachal Spiti-Gujarat</p>


    </div>
    <div class="image-clicks">
      <img src="/images/clicks-webp/01.webp" class="masonry-item";>
      <img src="/images/clicks-webp/02.webp" class="masonry-item";>
      <img src="/images/clicks-webp/03.webp" class="masonry-item";>
      <img src="/images/clicks-webp/04.webp" class="masonry-item";>
      <img src="/images/clicks-webp/05.webp" class="masonry-item";>
      <img src="/images/clicks-webp/06.webp" class="masonry-item";>
      <img src="/images/clicks-webp/07.webp" class="masonry-item";>
      <img src="/images/clicks-webp/08.webp" class="masonry-item";>
      <img src="/images/clicks-webp/09.webpg" class="masonry-item";>
      <img src="/images/clicks-webp/10.webp" class="masonry-item";>
      <img src="/images/clicks-webp/11.webp" class="masonry-item";>
      <img src="/images/clicks-webp/12.webp" class="masonry-item";>
      <img src="/images/clicks-webp/13.webp" class="masonry-item";>
      <img src="/images/clicks-webp/14.webp" class="masonry-item";>
      <img src="/images/clicks-webp/15.webp" class="masonry-item";>
      <img src="/images/clicks-webp/16.webp" class="masonry-item";>
      <img src="/images/clicks-webp/17.webp" class="masonry-item";>
      <img src="/images/clicks-webp/18.webp" class="masonry-item";>
      <img src="/images/clicks-webp/19.webp" class="masonry-item";>
      <img src="/images/clicks-webp/20.webp" class="masonry-item";>
      <img src="/images/clicks-webp/21.webp" class="masonry-item";>
      <img src="/images/clicks-webp/22.webp" class="masonry-item";>
      <img src="/images/clicks-webp/23.webp" class="masonry-item";>
           <img src="/images/clicks-webp/24.webp" class="masonry-item";>
           <img src="/images/clicks-webp/25.webp" class="masonry-item";>
           <img src="/images/clicks-webp/26.webp" class="masonry-item";>
           <img src="/images/clicks-webp/27.webp" class="masonry-item";>
           <img src="/images/clicks-webp/28.webp" class="masonry-item";>
           <img src="/images/clicks-webp/29.webp" class="masonry-item";>
           <img src="/images/clicks-webp/30.webp" class="masonry-item";>
           <img src="/images/clicks-webp/31.webp" class="masonry-item";>
           <img src="/images/clicks-webp/32.webp" class="masonry-item";>
           <img src="/images/clicks-webp/33.webp" class="masonry-item";>
           <img src="/images/clicks-webp/34.webp" class="masonry-item";>
           <img src="/images/clicks-webp/35.webp" class="masonry-item";>
           <img src="/images/clicks-webp/36.webp" class="masonry-item";>
           <img src="/images/clicks-webp/37.webp" class="masonry-item";>
           <img src="/images/clicks-webp/38.webp" class="masonry-item";>
           <img src="/images/clicks-webp/39.webp" class="masonry-item";>

</div>







<style>

.inkbox{
        display: flex;
        justify-content: center;
        padding-top:0px;
      }
      .text{
        font-size: 16px;
        padding-left:150px;
      }
      .image-clicks{
        column-count: 3;
       column-gap: 15px;
       padding:28px;
       margin:40px;
}
      .masonry-item {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 14px;
  display: block;
  box-shadow: 0 4px 12px rgba(48, 47, 47, 0.2);
  transition: transform 0.4s ease;
}
.masonry-item:hover {
  transform: scale(1.1);
}
.hover-text {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
img:hover + .hover-text {
  opacity: 20;}

@media (max-width: 768px) {
  .image-clicks{
      column-count: 2;
       column-gap: 15px;
       padding:28px;}
      }


      </style>
<Footer />
