---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiman's Digital journal</title>
<link rel="stylesheet" href="https://use.typekit.net/vkr0nvh.css">
</head>

	<body>
    <Navbar
  logoSrc="/images/photospagelogo.png"
  alt="My Website Logo"
 />

<div class="inkbox">
		<img src="/images/photoclick.png" height="300px";> </div>
    <div class="info">
    <div class="text font1">
        <h2>Clicks(mostly sunsets and sunrise)</h2>
        <br>
        <p>
Put together a little showcase of photos from differnt trips and stays in cities -
you'll find -<br> Delhi-Hyderabad-Ladakh-Andaman & nicobar-Himachal Spiti-Gujarat</p>


    </div>
    <div class="image-clicks">
      <img src="/images/clicks/01.jpeg" class="masonry-item";>
      <img src="/images/clicks/02.jpg" class="masonry-item";>
      <img src="/images/clicks/03.jpg" class="masonry-item";>
      <img src="/images/clicks/27.jpeg" class="masonry-item";>
      <img src="/images/clicks/04.jpg" class="masonry-item";>
        <img src="/images/clicks/05.jpg" class="masonry-item";>
         <img src="/images/clicks/39.jpeg" class="masonry-item";>
        <img src="/images/clicks/24.jpeg" class="masonry-item";>
         <img src="/images/clicks/06.jpg" class="masonry-item";>
         <img src="/images/clicks/28.png" class="masonry-item";>
          <img src="/images/clicks/07.jpg" class="masonry-item";>
          <img src="/images/clicks/10.jpg" class="masonry-item";>
           <img src="/images/clicks/08.jpg" class="masonry-item";>
           <img src="/images/clicks/09.jpg" class="masonry-item";>
           <img src="/images/clicks/11.jpg" class="masonry-item";>
           <img src="/images/clicks/12.jpg" class="masonry-item";>
           <img src="/images/clicks/14.jpg" class="masonry-item";>
           <img src="/images/clicks/15.jpg" class="masonry-item";>
           <img src="/images/clicks/16.jpg" class="masonry-item";>
           <img src="/images/clicks/20.jpg" class="masonry-item";>
           <img src="/images/clicks/21.jpg" class="masonry-item";>
           <img src="/images/clicks/22.jpg" class="masonry-item";>
           <img src="/images/clicks/18.jpeg" class="masonry-item";>
           <img src="/images/clicks/19.jpg" class="masonry-item";>
           <img src="/images/clicks/23.jpg" class="masonry-item";>
           <img src="/images/clicks/26.png" class="masonry-item";>
           <img src="/images/clicks/27.jpeg" class="masonry-item";>
           <img src="/images/clicks/29.jpeg" class="masonry-item";>
           <img src="/images/clicks/39.jpeg" class="masonry-item";>
           <img src="/images/clicks/37.jpeg" class="masonry-item";>
           <img src="/images/clicks/36.jpeg" class="masonry-item";>
           <img src="/images/clicks/35.jpeg" class="masonry-item";>
           <img src="/images/clicks/34.jpeg" class="masonry-item";>
           <img src="/images/clicks/33.jpeg" class="masonry-item";>
           <img src="/images/clicks/32.jpeg" class="masonry-item";>
           <img src="/images/clicks/31.jpeg" class="masonry-item";>
           <img src="/images/clicks/30.jpeg" class="masonry-item";>





            </div>










<style>

.inkbox{
        display: flex;
        justify-content: center;
        padding-top:0px;
      }
      .text{
        font-size: 16px;
        padding-left:150px;
      }
      .image-clicks{
        column-count: 3;
       column-gap: 15px;
       padding:28px;
       margin:40px;
}
      .masonry-item {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 14px;
  display: block;
  box-shadow: 0 4px 12px rgba(48, 47, 47, 0.2);
  transition: transform 0.4s ease;
}
.masonry-item:hover {
  transform: scale(1.1);
}


@media (max-width: 768px) {
  .image-clicks{
      column-count: 2;
       column-gap: 15px;
       padding:28px;}
      }


      </style>
<Footer />
