---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aiman's Digital journal</title>
		<style>
		@import url("https://use.typekit.net/vkr0nvh.css");
		</style>
  </head>
	<body>
    <Navbar
  logoSrc="/images/photospagelogo.png"
  alt="My Website Logo"
 />

<div class="inkbox">
		<img src="/images/photoclick.png" height="300px";> </div>
    <div class="info">
    <div class="text font1">
      <p>
        <h2>Clicks(mostly sunsets and sunrise)</h2>
        <br>
Put together a little showcase of photos from differnt trips and stays in cities -
you'll find - <ul>
  <li>Delhi</li>
  <li>Hyderabad</li>
  <li>Ladakh</li>
  <li>Andaman and nicobar</li>

</ul>
      </p>
    </div>
    <div class="image-clicks">
      <img src="/images/clicks/01.jpeg" class="masonry-item";>
      <img src="/images/clicks/02.jpg" class="masonry-item";>
      <img src="/images/clicks/03.jpg" class="masonry-item";>
      <img src="/images/clicks/04.jpg" class="masonry-item";>
        <img src="/images/clicks/05.jpg" class="masonry-item";>
         <img src="/images/clicks/06.jpg" class="masonry-item";>
          <img src="/images/clicks/07.jpg" class="masonry-item";>
          <img src="/images/clicks/10.jpg" class="masonry-item";>
           <img src="/images/clicks/08.jpg" class="masonry-item";>
           <img src="/images/clicks/09.jpg" class="masonry-item";>
           <img src="/images/clicks/11.jpg" class="masonry-item";>
           <img src="/images/clicks/12.jpg" class="masonry-item";>
           <img src="/images/clicks/14.jpg" class="masonry-item";>
           <img src="/images/clicks/15.jpg" class="masonry-item";>
           <img src="/images/clicks/16.jpg" class="masonry-item";>
           <img src="/images/clicks/20.jpg" class="masonry-item";>
           <img src="/images/clicks/21.jpg" class="masonry-item";>
           <img src="/images/clicks/22.jpeg" class="masonry-item";>
           <img src="/images/clicks/18.jpeg" class="masonry-item";>
           <img src="/images/clicks/19.jpg" class="masonry-item";>
           <img src="/images/clicks/23.jpg" class="masonry-item";>




            </div>










<style>

.inkbox{
        display: flex;
        justify-content: center;
      }
      .text{
        font-size: 16px;
        padding-left:150px;
      }
      .image-clicks{
        column-count: 3;
       column-gap: 15px;
       padding:28px;
}
      .masonry-item {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 8px;
  display: block;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}


      </style>
<Footer />
