---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---
<style>
		@import url("https://use.typekit.net/vkr0nvh.css");
		</style>
<Navbar
  logoSrc="/projectlogo.png"
  alt="My Website Logo"
 />

<style>
body {

      justify-content: center;
      align-items: center;
}

.portfolio{
   padding: 2rem;
      text-align: center;
}


</style>



 <div class="portfolio">
<img src="portfolio2025-01.jpg" height="800px" >
<img src="portfolio2025-02.jpg" height="800px" >
<img src="portfolio2025-07.jpg" height="800px" >
<img src="portfolio2025-08.jpg" height="800px" >
<img src="portfolio2025-09.jpg" height="800px" >
<img src="portfolio2025-11.jpg" height="800px" >
<img src="portfolio2025-06.jpg" height="800px" >



</div>





















<Footer />