---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---
<head>
<link rel="stylesheet" href="https://use.typekit.net/vkr0nvh.css">
</head>
<Navbar
  logoSrc="/images/projectlogo.png"
  alt="My Website Logo"
 />

<style>
body {

      justify-content: center;
      align-items: center;
}

.portfolio{
   padding: 2rem;
      text-align: center;
}


</style>


 <div class="portfolio">
<img src="/images/projects/port01.jpg" height="900px" >
<img src="/images/projects/port02.jpg" height="900px" >
<img src="/images/projects/port03.jpg" height="900px" >
<img src="/images/projects/port04.jpg" height="900px" >
<img src="/images/projects/port05.jpg" height="900px" >
<img src="/images/projects/port06.jpg" height="900px" >
<img src="/images/projects/port07.jpg" height="900px" >
<img src="/images/projects/port08.jpg" height="900px" >
<img src="/images/projects/port09.jpg" height="900px" >
<img src="/images/projects/port10.jpg" height="900px" >
<img src="/images/projects/port11.jpg" height="900px" >
<img src="/images/projects/port12.jpg" height="900px" >
<img src="/images/projects/port13.jpg" height="900px" >
<img src="/images/projects/port14.jpg" height="900px" >
<img src="/images/projects/port15.jpg" height="900px" >
<img src="/images/projects/port16.jpg" height="900px" >
<img src="/images/projects/port17.jpg" height="900px" >
<img src="/images/projects/port18.jpg" height="900px" >
<img src="/images/projects/port19.jpg" height="550px" >

  </div>




















<Footer />