---
import Navbar from '../components/navbar.astro'
import '../styles/styles.css'
import Footer from '../components/footer.astro'
const { title } = Astro.props;
---
<style>
		@import url("https://use.typekit.net/vkr0nvh.css");
		</style>
<Navbar
  logoSrc="/projectlogo.png"
  alt="My Website Logo"
 />

<style>
body {

      justify-content: center;
      align-items: center;
}

.portfolio{
   padding: 2rem;
      text-align: center;
}


</style>


 <div class="portfolio">
<img src="projects/port01.jpg" height="900px" >
<img src="projects/port02.jpg" height="900px" >
<img src="projects/port03.jpg" height="900px" >
<img src="projects/port04.jpg" height="900px" >
<img src="projects/port05.jpg" height="900px" >
<img src="projects/port06.jpg" height="900px" >
<img src="projects/port07.jpg" height="900px" >
<img src="projects/port08.jpg" height="900px" >
<img src="projects/port09.jpg" height="900px" >
<img src="projects/port10.jpg" height="900px" >
<img src="projects/port11.jpg" height="900px" >
<img src="projects/port12.jpg" height="900px" >
<img src="projects/port13.jpg" height="900px" >
<img src="projects/port14.jpg" height="900px" >
<img src="projects/port15.jpg" height="900px" >
<img src="projects/port16.jpg" height="900px" >
<img src="projects/port17.jpg" height="900px" >
<img src="projects/port18.jpg" height="900px" >
<img src="projects/port19.jpg" height="550px" >

  </div>




















<Footer />