---
const { href = "/info"} = Astro.props;
---
<a href="/about">About me</a>
<style>
  a {
    width: 700px;
    height:500px;
    background-image: url('/buttonpink.png');
    background-size:contain;
    font-family: canvas-inline, sans-serif;
    font-size: 20px;
    font-size: 2.5rem;
    transform: rotate(20deg);
  }


</style>


