---
import '../styles/styles.css'
---
<footer class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a href="/contact">Contact</a>
      <a href="/hireme">Hire me</a>
    </div>
    <a href="/" class="logo">
    <img src="logobottom.svg" alt="Logo" class="logo-img" height="60px" />
    </a>

  </div>
</footer>

<style>
  .footer {
    background-color: #bdd9f4;
    margin:0px 30px;
    padding: 10px 20px;
    border-radius:40px;
    

  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .footer-links {
    display: flex;
    gap: 30px;
  }

  .footer-links a {
    text-decoration: none;
    color: #333;
    font-family: all-round-gothic, sans-serif;
  }
  .footer-links a:hover {
    color: #275daa;
  }

    .logo:hover {
    transition: transform 0.7s ease;
    transform: rotate(30deg);


  }

