
---
const { logoSrc = "/logo-default.png", alt = "Site Logo", linksLeft = [], linksRight = [] } = Astro.props;
import '../styles/styles.css'
---

<nav class="Navbar font2">

  <div class="nav-container">

    <ul class="nav-links">
      <!-- <li><a href="/fun">fun</a></li> -->

      <a href="/" class="contact">
    <img src="homeicon.svg" alt="home" class="home-img" width="50px"; />
  </a>
    </ul>
    <a href="/" class="logo">
    <img src={logoSrc} alt={alt} width="230px"/></a>


  <a href="/contact" class="contact">
    <img src="contactimg.png" alt="conatctme" class="contact-img" width="200px" />
  </a>

  </div>
</nav>

<style>

  .navbar {
    position: sticky;
    top: 30px;
    padding: 1rem 2rem;
    z-index: 1000;


  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin:50px;
    background-color: #bdd9f4;
    padding: 10px 40px;
    border-radius:40px;
    height: 54px;
    font-size: 20px;


  }
  .contact:hover {
    transition: transform 0.7s ease;
    transform: rotate(13deg);

  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    font-family: all-round-gothic, sans-serif;
  }

  .nav-links a:hover {
    color: #275daa;
  }

</style>
